.hero {
    padding: 64px 16px 56px;
    @media (min-width: $tablet) {
        max-width: 768px;
        margin: 0 auto;
    }
    @media (min-width: $desktop) {
        max-width: 100%;
        padding-bottom: 176px;
    }
    &_bubble {
        position: absolute;
        left: calc(50% + 90px);
        top: -26px;
    
    }
    &_contact {
        border-radius: 64px;
        color: #fff;
        background: $textLightBlue;
        padding: 4px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
        line-height: 40px;
      }
      &_description {
          text-align: center;
          @media (min-width: $desktop) {
              max-width: 786px;
              margin: 0 auto;
              position: relative;
              &::before, &::after {
                  position: absolute;
                  width: 82.94px;
                  height: 254.88px;
                  content: '';
                  display: block;
                  top: 0;
                    }
                &::before {
                    background: url('../assets/img/hero-left.svg');
                    right: 100%;
                }
                &::after {
                    background: url('../assets/img/hero-right.svg');
                    left: 100%;  
                }
      }
    }
    &_header {
        font-size: 26px;
        line-height: 32px;
        text-align: center;
        color: $textDark;
        margin: 0;
        @media (min-width: $desktop) {
            font-size: 32px;
            line-height: 40px;
        }
    }
    &_hello {
        display: none;
        @media (min-width: $desktop) {
            display: block;
            background: $textBlue;
            color: #fff;
            padding: 16px 19px;
            border-radius: 16px;
            background: $textBlue;
            font-weight: bold;
            font-size: 32px;
            position: relative;
            &::after {
                position: absolute;
                top: 100%;
                left: 32px;
                content: ""; 
                display: block;
                width: 17.42px;
                height: 22.66px;
                background: url('../assets/img/speech.svg');

            }

        }
    }
    &_image {
        box-sizing: content-box;
        width: 96px;
        height: 96 px;
        border-radius: 50%;
        border: 16px solid #F6F9FD;
        @media (min-width: $desktop)
        {
            width: 178px;
            height: 178px;
            border: 24px solid #F6F9FD;
        }
    }
    &_image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        @media (min-width: $desktop) {
            margin-bottom: 48px;
        }
    }
    &_link {
        font-weight: 300px;
        color: $textLightBlue;
        text-decoration: none;
        
    }
    &_paragraph {
        font-weight: 300;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        margin: 16px 21px 48px;
        @media (min-width: $desktop) {
            font-size: 20px;
            line-height: 40px;
            margin-bottom: 68px;
        }
    }
    &_special {
        color: #1070CA;
        white-space: nowrap;
    }

}