.projects {
    padding: 64px 16px 88px 16px;
    &_description {
        font-weight: 300;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        color: $text;
        max-width: 786;
        margin: 0 auto 46px;
        @media (min-width: $desktop) {
            font-size: 20px;
            line-height: 40px;
            margin-bottom: 128px;
        }
        
    }
    &_header {
        font-size: 36px;
        line-height: 48px;
        text-align: center;
        color: $textDark;
        padding: 0 0 32px 0;
        @media (min-width: $desktop) {
            font-size: 48px;
            line-height: 56px;
        }

    }
}


.project {
     box-shadow: (0px 4px 16px rgba(0, 0, 0, 0.25));
     background: $gray;
     border-radius: 16px;
     color: $console;
     overflow: hidden;
     font-weight: normal;
     font-size: 13px;
     line-height: 24px;
     font-family: Roboto Mono;
     @media (min-width: $desktop) {
        font-size: 16px;
        line-height: 24px;
     }
     &_circle {
         display: block;
         background: $mediumGray;
         width: 8px;
         height: 8px;
         border-radius: 50%;
         margin-right: 8px;
        }
        &_content {
            padding: 24px 16px 11px 16px;
            @media (min-width: $desktop) {
                padding: 24px 48px 58px 48px;
            }
        }
        &_grid {
            display: grid;
            grid-template-columns: 102px 1fr;
            column-gap: 8px;
            margin: 0 0 8px 0;
            @media (min-width: $desktop) {
            grid-template-columns: 116px 1fr;
            }
           &--description {
               margin-bottom: 24px;
           }
        }
        &_label {
            display: block;
            text-align: right;
            font-weight: normal;
            color: $console;
        }
        &_link {
            color: $linkConsole;
            padding:0 0 24px 0;
            
        }
        &_title {
            font-weight: bold;
            font-size: 13px;
            line-height: 24px;
            color: #FFFFFF;
            margin: 24px 0 8px;
            @media (min-width: $desktop) {
            font-size: 16px;
            line-height: 24px;
            }
        }
     &_window {
       height: 40px;
       background:  #1E1E1E;
       display: flex;
       align-items: center;
       padding: 0 0 0 16px;
       
     }
}




.projects-grid {
    display: grid;
    column-gap: 24px;
    row-gap: 24px;
    grid-template-columns: 1fr 1fr;
    max-width: 1184px;
    margin: 0 auto;
    @media (max-width: 767px) {
        display: grid;
        column-gap: 20px;
        grid-template-columns: 1fr;


    }
    

    }


