.skills {
    background: $textBlue;
    color: #fff;
    padding: 64px 16px 88px;
    &_columns {
        @media (min-width: $desktop) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
        &_header {
        font-weight: bold;
        font-size: 36px;
        line-height: 48px;
        text-align: center;
        @media (min-width: $desktop) {
        font-size: 48px;
        line-height: 56px;
    }
}

.skills-list {
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color:$textLighterBlue;
    width: 288px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    
    &_item {
        margin: 0;
        padding: 0 0 0 24px;
        margin: 0 0 16px;
        position: relative;
    }
    &_item:before
    {
        content: '';
        position: absolute;
        width: 12px;
        height: 9px;
        left: 0;
        top: 7px;
        display: block;
        background: url("../assets/img/small-tick-green.png");
        .skills-list--blue & {
            background: url("../assets/img/small-tick-blue.png");
        }
        .skills-list--dot & {
            background: $textLighterBlue; 
            width: 2px;
            height: 2px;
            top: 10px;
            left: 5px;
        }
         }
    
}


    .skills-section {
        margin-top: 64px;
        &_emoji {
            font-size: 64px;
            line-height: 64px;
            display: block;
            text-align: center;
        }
            &_header {
                font-weight: bold;
                font-size: 24px;
                line-height: 44px;
                text-align: center;
                margin: 16px 0 24px;
                
                }

            }
        }
    