.socials {
    list-style-type: none;
    display:flex;
    justify-content: center;
    padding: 0;
    text-align: center;
    
    &_item{
        width: 48px;
        height: 48px;
        background: #fff;
        border-radius: 50%;
        box-shadow: 0px 4px 8px rgba(16, 112, 202, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 12px 64px;
    }
   
    
}

