$textBlue: #1070CA;
$blueLight: #DBEAF7;
$console: #808082;
$consoleLight: #A3A3A3;
$gray: #212528;
$darkGray:  #1E1E1E;
$linkConsole: #14B5D0;
$mediumGray: #464A4D;
$textLightBlue: #4DA8FF;
$textLighterBlue: #DBEAF7;
$text: #425A70;
$textDark:  #234361;

$tablet: 768px;

$desktop: 960px;